@import "./config"
a
    color $main-color
    cursor pointer
    &:hover
        text-decoration underline
body
    font-size 14px
    line-height 1.428571429
    color $main-color
    background-color #fff
    font-family Helvetica,Arial,sans-serif
    -webkit-font-smoothing antialiased
h1,h2,h3
    margin 0
    padding 0
em
    font-style normal
