@import "nib"
@import "./fn"

/**
 * nib设定
 */
support-for-ie = false
vendor-prefixes = webkit moz o ms official

//color
$main-color = #111
$hover-color = #444
$panel-color = #333
$blue-color = #288edf
$icon-color = #c6c8c8


$input-border-color = #bbb
$input-focus-color = $main-color

//z-index
$header-index = 50 //头部

//header
$header-height = 60px
