@import "./config"
/*a
    color $main-color
    text-decoration none*/
a
    color $main-color
    cursor pointer
    &:hover
        text-decoration underline
body
    font-size 14px
    line-height 1.428571429
    color $main-color
    background-color #fff
    font-family Helvetica,Arial,sans-serif
    -webkit-font-smoothing antialiased
h1,h2,h3
    margin 0
    padding 0
em
    font-style normal

/*
button:focus
    border: 1px solid #0036ff;
    box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    outline: 0;*/
