/********************************
*
*   @author liuwencheng
*   @author 14-3-19
*
**********************************/
@import "../config"

$placeholder-color = $input-border-color
/**
 * input
 */
input
    fn-box()
    &:disabled
        fn-disable()

input[type="text"]
input[type="password"]
input[type="email"]
input[type="search"]
    height 45px
    line-height @height - 10
    padding 5px
    font-size 16px
    border-radius 6px
    border 1px solid $input-border-color
    letter-spacing 1px
    &:focus
        border 1px solid $input-focus-color
    &::-webkit-input-placeholder
        color $placeholder-color
    &::-moz-placeholder
        color $placeholder-color
    &::-ms-input-placeholder
        color $placeholder-color
/**
* checkbox
*/
input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    opacity: 0.001;
    z-index: 1;
    vertical-align: top;
    outline: none;
}


.checkbox__label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.checkbox:before,
.checkbox:after {
    content: '';
    position: absolute;
}

.checkbox:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
}
