/********************************
*
*   @author liuwencheng
*   @date 14-3-24
*
**********************************/
@import "../config"

.list
    fn-reset()
    user-select none
    webkit-overflow-scrolling touch
.list-header
    margin 0
.list-item
.list-content
    padding 0
    margin 0
    list-style-type none
    position relative
.list-item
    text-align center
