/********************************
*
*   @author liuwencheng
*   @date 14-3-24
*
**********************************/
@import "../config"
.nav

    white-space nowrap
    overflow hidden
    user-select none