/********************************
*
*   @author by liuwencheng
**********************************/
@import "../config"
/**
 * input
 */
text
    fn-reset()
    letter-spacing 1
    &:disabled
        fn-disable()
